@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Icon colors */
  --color-icon-bg-light: var(--white-4);
  --color-icon-bg-intense: var(--white-50);
  --color-icon-bg-mid: var(--white-12);

  --color-icon-border: var(--white-12);
  --color-icon-fill: var(--white-90);
  --color-icon-fill-dark: var(--black-100);

  /* Text colors */
  --color-text-40: var(--white-40);
  --color-text-50: var(--white-50);
  --color-text-70: var(--white-70);
  --color-text-100: var(--white-100);
  --color-text-dark: var(--black-100);

  /* Chip colors */
  --color-chip-bg: var(--white-12);
  --color-chip-fill: var(--white-70);
  --color-chip-yellow: var(--yellow-100);

  /* Button colors */
  --color-button-primary-bg: var(--white-100);
  --color-button-primary-text: var(--black-100);

  --color-button-secondary-bg: var(--white-4);
  --color-button-secondary-bg-hover: var(--white-12);
  --color-button-secondary-border: var(--white-12);
  --color-button-secondary-text: var(--white-100);

  /* Input colors */
  --color-white-4: var(--white-4);
  --color-white-100: var(--white-100);

  /* Footer colors */
  --color-footer-bg: var(--black-150);

  /* Genres colors */
  --color-action-orange: var(--action-orange);
  --color-adventure-green: var(--adventure-green);
  --color-animation-orange: var(--animation-orange);
  --color-comedy-yellow: var(--comedy-yellow);
  --color-documentary-green: var(--documentary-green);
  --color-drama-gray: var(--drama-gray);
  --color-fantasy-blue: var(--fantasy-blue);
  --color-crime-red: var(--crime-red);
  --color-history-brown: var(--history-brown);
  --color-horror-dark: var(--horror-dark);
  --color-musical-purple: var(--musical-purple);
  --color-mystery-dark-pink: var(--mystery-dark-pink);
  --color-sci-fi-bg: var(--colors-slate);
  --color-romance-pink: var(--romance-pink);
  --color-tv-greenish: var(--tv-greenish);
  --color-thriller-dark-red: var(--thriller-dark-red);
  --color-war-green: var(--war-green);
  --color-western-dark-brown: var(--western-dark-brown);
}

:root {
  --radius: 0.625rem;
  --background: #111111;
  --foreground: rgba(239, 241, 244, 0.7);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #eff1f4;
  --primary-foreground: #111111;
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --black-100: #111111;
  --black-150: rgba(17, 17, 17, 0.45);
  --black-200: #b8b8b8;

  --action-orange: oklch(66.402% 0.20306 41.132);
  --adventure-green: oklab(67.98100000000001% -0.09785 0.03544);
  --animation-orange: oklab(73.20100000000001% 0.1093 0.14836);
  --comedy-yellow: #f1de44;
  --fantasy-blue: oklab(67.026% -0.03932 -0.17201);
  --history-brown: #c99a6e;
  --western-dark-brown: #bd784a;
  --documentary-green: #366a42;
  --mystery-dark-pink: #b74695;
  --thriller-dark-red: #6e161a;
  --horror-dark: #191b2b;
  --drama-gray: #525c70;
  --tv-greenish: #50aca6;
  --war-green: #618c76;
  --romance-pink: #d892b5;
  --musical-purple: #a68efc;
  --crime-red: #c0272d;

  --green-100: #1d773b;
  --green-200: rgba(29, 119, 59, 0.7);
  --green-300: rgba(29, 119, 59, 0.6);
  --green-400: rgba(29, 119, 59, 0.08);

  --red-100: #c13629;
  --red-200: rgba(193, 54, 41, 0.7);
  --red-300: rgba(193, 54, 41, 0.6);
  --red-400: rgba(239, 241, 244, 0.12) --white-12: rgba(239, 241, 244, 0.12);
  --white-2: rgba(239, 241, 244, 0.02);
  --white-4: rgba(239, 241, 244, 0.04);
  --white-40: rgba(239, 241, 244, 0.4);
  --white-50: rgba(239, 241, 244, 0.5);
  --white-60: rgba(239, 241, 244, 0.6);
  --white-70: rgba(239, 241, 244, 0.7);
  --white-80: rgba(239, 241, 244, 0.8);
  --white-90: rgba(239, 241, 244, 0.9);
  --white-100: #eff1f4;

  --yellow-100: #f5c518;
  --yellow-200: rgba(245, 197, 24, 0.7);
  --yellow-300: rgba(245, 197, 24, 0.6);
  --yellow-400: rgba(245, 197, 24, 0.08);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
